.profile-item {
  margin: 1%;
  border-radius: 2px;
  background: whitesmoke;
  width: 98%;
  height: 300px;
}

.background {
  object-fit: fill;
}

.name {
  padding: 3% 0% 0.5% 3%;
}

.position {
  font-size: 10px;
  color: grey;
  padding-left: 3%;
}
