
.profile-item {
  margin: 1%;
  border-radius: 2px;
  width: 98%;
  height: 300px;
  border: 1px solid black;
}


.name {
  padding: 3% 0% 0.5% 3%;
}

.position {
  font-size: 10px;
  color: grey;
  padding-left: 3%;
}
